<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iQuiz.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2CAA53DA1BE323D300E4571A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2CAA53EE1BE323D500E4571A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2CAA53F91BE323D500E4571A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
